[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autogluon = "*"
bokeh = "*"
catboost = "*"
dcor = "*"
jupyter = "*"
kaggle = "*"
matplotlib = "*"
numpy = "*"
openai = "*"
pandas = "*"
pytorch_lightning = "*"
seaborn = "*"
scikit-learn = "*"
torch = "*"
tqdm = "*"

[requires]
python_version = "3.12"
